body {
    margin: 0
}
.container {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/homepage_background.svg');
    background-size: cover;
    background-position-y: -100px;
}

.sidebar a {
    font-size: 3vh;
}
.sidebar a:active {
    background-color: #555;
    color: white;
}

.sidebar a:hover:not(.active) {
    /*Override sidebar css*/
    background-color: #f1f1f1;
    color: #000;
}
.sidebar a:hover:not(.active):after {
    content: url("../img/snowflake.svg");
}