body {
    margin: 0;
    background-color: #5885AF;
}
.container {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/*Navbar*/
.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #5885AF;
    margin-top: 20px;
    /*position: fixed;*/
    /*top: 0; !*Set how much its separated from the top*!*/
}

.navbar__item {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 15px;
    text-decoration: none;
    color: #fff;
    background-color: #274472;
    transition: background-color 0.3s;
    border-radius: 10px;
    border: 1px solid #666666;
    margin: 0 20px;
    width: 200px;
    height: 100%;
    justify-content: center;
}

.navbar__dropdown__wrapper {
    position: relative;
}

.navbar__dropdown {
    position: absolute;
    display: none;
    left: 0;
    margin: 0 20px;
    padding-top: 5px;
}

.navbar__dropdown__item {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0 15px;
    text-decoration: none;
    color: #fff;
    background-color: #274472;
    transition: background-color 0.3s;
    border-radius: 10px;
    border: 1px solid #666666;
    width: 200px;
    height: 50px;
    justify-content: center;
    margin: 5px 0;
}

.navbar__item:hover {
    background-color: orange;
    color: #fff;
}

.navbar__item:hover ~ .navbar__dropdown {
    display: block;
}

.navbar__dropdown:hover {
    display: block;
}

.navbar__dropdown__item:hover {
    background-color: orange;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: fit-content;
        align-items: center;
    }
    .navbar__item {
        border-right: none;
        border-left: none !important; /* Important because of .navbar__item:fist-child */
        border-bottom: 1px solid #E9ECEE;

        justify-content: center;
        padding: 15px;
        margin: 10px 0;
        width: 90%;
    }
}

.navbar {
    justify-content: center;
}
