body {
    margin: 0
}
.container {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #685497;
}

.header {
    height: 30vh;
    background-image: url('../img/sunrise.jpg');
    background-position: center;
}
.header__text {
    text-align: center;
    line-height: 30vh;
    margin-top: 0;
    color: #FFF;
    font-size: 40px;
}

/*NAVBAR STYLING*/
.navbar__list {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}
.navbar__list__item {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.navbar__list__item a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
    padding: 0 10px;
}

.navbar__list__item a:hover {
    background-color: #2c2f2f;
}

.navbar__list__item a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

/*Handle on mobile screen*/
@media screen and (min-width: 600px) {
    .navbar__list__item {
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

    /* Inline Navbar, It's static */
    .navbar__list__item {
        display: inline-block;
        margin-right: -4px;
    }
}
