body {
    margin: 0;
}
.container {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0;
}

.header {
    height: 300px;
    width: 100%;
    background-color: #DADFF7;
    color: #232C33;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
}

.header__text {
    height: fit-content;
}

.content {
    margin: 400px 30px 0 30px;
    display: flex;
    position: relative;
}

.content__text {
    margin: 0 50px;
}

.content__image img {
    position: absolute;
}
/*Navbar*/
.navbar {
    height: 50px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 300px;
    width: 100%;
    background-color: #B5B2C2;
}

.navbar__item {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0 15px;
    text-decoration: none;
    color: #232C33;
    border-right: 1px solid #E9ECEE;

    transition: background-color 0.3s;
}

.navbar__item:first-child {
    border-left: 1px solid #E9ECEE;

}

.navbar__item:hover {
    background-color: #3b3b3b;
    color: #fff;
    opacity: 70%;
}


@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: fit-content;
        position: sticky;
        top: 0;
    }
    .navbar__item {
        border-right: none;
        border-left: none !important; /* Important because of .navbar__item:fist-child */
        border-bottom: 1px solid #E9ECEE;

        justify-content: center;
        padding: 15px;
    }
    
    .header {
        position: relative;
    }

    .header__text {
        font-size: 28px;
    }
    .content {
        flex-direction: column;
        justify-content: center;
        margin-top: 100px;
    }
    .content__image {
        display: block;
        margin: auto;
    }
    .content__text {
        order: 2;
    }
}

.content__image img {
    position: relative; /* :PP */
}