@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');


body {
    margin: 0;
}
.container {
    width: 100%;
    min-height: calc(100vh - 400px);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding-bottom: 120px;
}

h1 {
    margin: 0;
}

.header {
    height: 300px;
    width: 100%;
    max-width: 100%;
    background-color: #DADFF7;
    background-image: url('../img/bullyingHeader.jpg');
    background-position-y: center;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header__text {
    height: fit-content;
    font-family: Stick, sans-serif;
    font-size: 60px;
}

.content {
    margin: 400px 30px 0 30px;
    display: flex;
    position: relative;
    justify-content: center;
}

.content__text {
    margin: 0 50px;
    width: 33%;
    flex-basis: 33%;
    flex-grow: 1;
    font-size: 20px;
    line-height: 34px;
}

.content__image {
    width: 33%;
    flex-basis: 33%;
    flex-grow: 1;
}

.content__image img {
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

/*Navbar*/
.navbar {
    height: 50px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 300px;
    width: 100%;
    background-color: #868990;
    z-index: 10;
}

.navbar__item {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0 15px;
    text-decoration: none;
    color: #232C33;
    border-right: 1px solid #E9ECEE;
    transition: background-color 0.3s;
}

.navbar__item__active {
    background-color: #3b3b3b;
    color: #fff;
}

.navbar__item:first-child {
    border-left: 1px solid #E9ECEE;

}

.navbar__item:hover:not(.navbar__item__active) {
    background-color: #3b3b3b;
    color: #fff;
    opacity: 70%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 100vw;
    width: 100%;
    height: 120px;

    padding: 20px;
    box-sizing: border-box;

    border-top: 2px solid black;
    background-color: #3b3b3b;
    color: #fff;

    position: absolute;
    bottom: 0;
}

.footer__contact__header {
    margin: 2px 0;
}

.footer__socials {
}

.footer__socials img {
    width: 35px;
    height: 35px;
    cursor: pointer;

    transition: height, width 0.5s;
}

.footer__socials img:hover {
    width: 50px;
    height: 50px;
}

.footer__maps {
    height: 100px;
    width: 400px;
    display: block;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .content {
        flex-direction: column;
    }
    .content__image {
        order: 1;
        width: 50%;
        margin: auto;
    }
    .content__text {
        order: 2;
        width: 100%;
        margin: 0;
        font-size: 18px;
    }
}
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: fit-content;
        position: sticky;
        top: 0;
    }
    .navbar__item {
        border-right: none;
        border-left: none !important; /* Important because of .navbar__item:fist-child */
        border-bottom: 1px solid #E9ECEE;

        justify-content: center;
        padding: 15px;
    }
    
    .header {
        position: relative;
    }

    .header__text {
        font-size: 28px;
    }
    .footer {
        flex-direction: column;
        gap: 20px;
    }
    .content {
        flex-direction: column;
        justify-content: center;
        margin-top: 100px;
    }
    .content__image {
        display: block;
        margin: auto;
    }
    .content__text {
        order: 2;
    }
}



